asgiref
attrs
autopep8
crispy-bootstrap5
Django
django-cors-headers
django-crispy-forms
django-extensions
django-filter
django-silk
django-widget-tweaks
djangorestframework
djangorestframework_simplejwt
drf-spectacular
gprof2dot
inflection
jsonschema
jsonschema-specifications
pillow
psycopg2-binary
pycodestyle
PyJWT
python-decouple
PyYAML
referencing
rpds-py
sqlparse
tzdata
uritemplate
whitenoise
python-dotenv
mutagen